.social-media{
    display: flex;
}

.content{
    width: 100%;
}

.post{
    margin-left: 10%;
    margin-bottom: 3%;
}

.create-post{
    width: 80%;
    margin-left: 10%; 
}

.Tags{
    display: flex;
}

.Tag{
    margin: 0.5rem;
}

.reaction{
    margin-top: 1rem;
    margin-bottom: -0.2rem;
}

.dlt{
    cursor: pointer;
}